<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FOURSQUARE_ID</key>
	<string>AFXG5WVI4UTINRGVJZ52ZAWRK454EN4J3FZRJB03J4ZMXQX1</string>
	<key>FOURSQUARE_SECRET</key>
	<string>D2EU4WKSQ2WHQGOK4FJVNRDZUJ4S4YTZVBO1FM4V03NRJWYK</string>
	<key>kort_username</key>
	<string>ibikecph</string>
	<key>kort_password</key>
	<string>Spoiledmilk123</string>
</dict>
</plist>
