[submodule "AddressParser"]
	path = AddressParser
	url = https://github.com/ibikecph/AddressParser
[submodule "routing-engine"]
	path = routing-engine
	url = https://github.com/ibikecph/routing-engine.git
[submodule "strings"]
	path = strings
	url = https://github.com/ibikecph/strings.git
